* {
    box-sizing: border-box;
    text-decoration: none;
    color:#f5f6f7;
    font-family: 'Lato', sans-serif;

}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0b0a23;
}

header > h1 {
    font-family: 'Roboto Mono', monospace;
    color: #99c9ff;
    font-size:4rem;
}

header > h4 {
    font-size:1.5rem;
    margin-top: 0;
}

header > button{
    margin-bottom: 2rem;
}

button{
    background-color: #ffb338;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 12%;
    color: #0b0a23;
    cursor: pointer;
}

input{
    padding: 0.4rem 0.8rem;
    border:none;
    background-color: #d1dff0fe;
    color:#0b0a23;
}

main {
    background-color:#1a1c32;
    padding:2rem;
}

main > h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    margin-top:0;
}

main > article {
    background-color: #3b3b50;
    padding:1rem;
    margin-bottom:1rem;
}

main > article > h5 {
    font-size: 1.2rem;
    margin: 0;
    color: #99c9ff;
}


main > article.quote-endpoint {
    background-color:#dbb8ff;
}

main > article.quote-endpoint * {
    color:#0a0a23;
}

main > article.quote-endpoint > h5 {
    color: #002ead;
}
main > article.quote-endpoint > pre {
    color: #00471b;
}

.filter-options{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    margin: 0 auto;
}

.filter-options > .filterbox {
    display:flex;
    justify-content: space-between;
    padding:1rem;
    background-color: #2a2a40;
}

.filterbox > label {
    padding-right: 0.4rem;
}

.filter-options > :nth-child(5) {
    grid-column: span 2; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 0.6rem 1.2rem;
}

.url-bar > span {
    margin: 0 0.25rem;
}

pre{
    position: relative;
    font-family: "Menlo";
    font-size: 0.8rem;
    width:100%;
    margin:auto;
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    background-color: #0b0a23;
    color: #00471b;
    margin-top:1rem;
}

.clear-btn {
    position: sticky;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    float: right;
}

.hidden{
    display:none;
}